.container {
    margin: auto;
    max-width: 1240px;
}

.logo {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}
.icons img{
width: 20px;
height: 20px;
margin-bottom: 2px;}
.logo img {
    height: 47px;
    width: 268px;
    object-fit: contain;
}

input[type="search"] {
    border: none;
    background-color: #E7E7E7;
    width: 90%;
}

.rectangle-search {
    background-color: #E7E7E7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    /* width:1240px; */
    height: 69px
}

.dropdown-search {
    margin-top: 2%;
}

.btn-primary {
    background-color: #3282F7 !important;
    border: none !important;
}

.btn-secondary {
    background-color: #68D9A4 !important;
    border: none !important;
    margin-left: 20px;
}

.btn-tertiary {
    background-color: #ED6454 !important;
    color: white !important;
    margin-left: 20px;

}

.btn {
    width: 170px;
    height: 69px;
}

.dropdown-menu.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin-top: -13px !important;
    width: 170px;
    border: none;
    background-color: #3282f7;
    transform: translate3d(0px, 71px, 0px);
}

.dropdown-menu.show a {
    color: white;
}

.btn-secondary.dropdown-menu.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin-top: -13px !important;
    width: 170px;
    border: none;
    background-color: green;
    transform: translate3d(0px, 71px, 0px);
}

.card-body {
    background-color: #E7E7E7;
}

.time {
    font-weight: 700;
}

.list {
    list-style: none;
    padding-left: 0px;
}

.details {
    margin-top: 17px;
}

.descriptions {
    font-size: 12px;
    width: 171px;
    height: 109px;
    line-height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;

}
.card{
    height: 364px!important;
    width: 380px!important;
}
.ingredients {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    width: 171px;
    height: 105px;
    line-height: 14px;
}

@media(max-width:767px) {
    .btn-tertiary {
        margin-left: 0px;
        margin-top: 11px;
    }
}

@media(max-width:388px) {
    .btn-secondary {
        margin-left: 0px;
        /* margin-top: 11px;     */
    }
}

@media(max-width:368px) {
    .btn-secondary {
        margin-top: 11px;
    }
}